@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
 
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource. Contact an admin if you believe this is in error</p>
    <p>
        <a asp-page="/Index">Back to home</a>
</header> 
