@model TaskManager.Models.Project

<h2>Create Project</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ManagerId" class="control-label"></label>
        <select asp-for="ManagerId" class="form-control" asp-items="ViewBag.ManagerId"></select>

    </div>
    <div class="form-group">
        <label for="AllocatedDeveloperIds">Allocated Developers</label>
        @if (ViewBag.Developers != null)
        {
            <select id="AllocatedDeveloperIds" name="AllocatedDeveloperIds[]" multiple class="form-control">
                @foreach (var developer in ViewBag.Developers)
                {
                    <option value="@developer.Value">@developer.Text</option>
                }
            </select>
        }
        else
        {
            <p>No developers available.</p>
        }
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>


